# Source files and cache
src/config/variables.json
logs/
pgdata/
plugins/
postgres-db-volume/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc
*.exe
.ruff_cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Credentials
kaggle.json
gcs_credentials.json
default_filename.txt
ecomm-invoice-kde-aws-iam_accessKeys.csv

# Data
data/processed/
data/raw/
data.json
*.csv
*.parquet
*.xlsx
*.db
*.sqlite
*.feather
*.h5
*.jar

# Scripts
test.py
test.ipynb
test.sh

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.vscode/
.idea/
.DS_Store

# Infrastructure
.terraform*
terraform.*

# ML models
*_model.pkl
*.pth
*.h5
*.tflite
*.onnx

# notebook
revise.ipynb
unit_test.ipynb
# *.ipynb

# environment
pyenv
.env
*.env

# local environment testing
*.db
*.duckdb
output/artifact
output/models
_process.sh
kde_pyspark_ingestion_framework.egg-info
test_output

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# Local development
local_settings.py
*.local

# Testing
.coverage
htmlcov/
.pytest_cache/

# etc
*.pdf